.category-main {
    width: 256px;
    position: relative;
    background-color: yellowgreen;
    color:black;
    &__sub {
        &:hover{
            background-color: tomato;
        }
    }
}
.category-title-name{
    background-color: tomato;
    text-transform: uppercase;
    font-weight: large;
    color: var(--color-blueviolet);
    cursor: text;
}

.category-content {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 256px;
    height: 80vh;
    width: 70vw;
    
}