
.cart-remove {
    font-size: 40px;
    cursor: pointer;
    &:hover {
        color: tomato,
    }
}

.cart-update-button{
    background-color: blueviolet;
    margin-left: 20px;
    &:hover{
        background-color: yellowgreen;
    }
}
