.category-main {
    width: 256px;
    background-color: yellowgreen;
    color:black;
    &__sub {
        &:hover{
            background-color: tomato;
        }
    }
}
.category-title-name{
    background-color: tomato;
    text-transform: uppercase;
    font-weight: large;
    color: var(--color-blueviolet);
    cursor: text;
}