.order-detail{
    &__title{
        font-size: 2em;
        font-weight: 500;
    }
    &__date-buy{
        font-size: 1.2em;
        line-height: 2.6em;
    }
}

.price-vnd{
    font-size: 1.4em;
    &::after{
        content: 'đ'
    }
}
.price-total{
    font-size: 1.4em;
    color: tomato;
    font-weight: 500;
    &::after{
        content: 'đ'
    }
}